body{
width: 95vw;
height: 95vh;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
background-color: black;
color: rgb(0, 81, 255);
font-family: 'Times New Roman', 'Times New Roman', Times, serif;
}

h1{
    text-align: center;
}

canvas{
    margin-bottom: 50px;
}


